/**
 * Skeleton layout CSS for Hellcat.
 * @package Hellcat
 */
body {
    font-family: Geneva, sans-serif;
}
.hellcatWrapper {
    width: 100%;
}
.hellcatWrapper header {
    text-align: center;
}
.hellcatWrapper footer {
    text-align: center;
}
.hellcatWrapper main {
    border-style: solid;
    border-color: #999999;
    border-width: 1px 0px 1px 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}
